.details_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  opacity: 0;
  transition: all 1s;
}

.details_info img {
  height: 400px;
}

.details_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details_info h3,
.details_info p {
  margin-bottom: 10px;
}

.visible {
  opacity: 1;
}
