.details_button button {
  width: 100px;
  height: 32px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #e13c52;
  cursor: pointer;
  margin-bottom: 1rem;
  visibility: visible;
  margin: 1rem;
}
