.container_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3000px;
  opacity: 0;
  transition: all 1s;
}

.container img {
  height: 400px;
  object-fit: contain;
}

.product_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_detail h3,
.product_detail p {
  margin-bottom: 10px;
}

.visible {
  opacity: 1;
}

.product_detail input {
  text-align: center;
}
