.container_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 1s;
}

.container img {
  height: 400px;
  object-fit: contain;
}

.product_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_detail h3,
.product_detail p {
  margin-bottom: 10px;
}

.product_detail button {
  width: 100px;
  height: 32px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #e13c52;
  cursor: pointer;
  margin-bottom: 1rem;
  visibility: visible;
}

.visible {
  opacity: 1;
}

.product_detail input {
  text-align: center;
}
